<!DOCTYPE html>
<html>

<head>
  <title>equipe</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo left">equipe!</a>
              <% if (user) { %>
                  <a href="/logout">Log Out</a>
              <% } else { %>
                  <a href="/auth/google">Login with Google</a>
              <% } %>
      </nav>
    </div>
