<%-include('./partials/header.ejs') %>
<head>
    <title><%= title %></title>
</head> 

<body>
    <h1> <%=title %></h1>
    <p>the only place to track and share all your gear</p>
    <a class="login" href="/auth/google"> Log In </a>

<!-- make a sign up? 
 -->

</body>
<%-include('./partials/footer.ejs') %>