<%- include('../partials/header') %>

<h2> Maintenance Log </h2>
<p>Keep track of jobs -big or small- done on your gear here</p>
<form id="add-maintenance-activity-form" action="gears/<%= gear._id %>/maintenances" method="POST">
    <label><strong> Job Type</strong></label>
    <select name="job-type">
        <option value="Tune Up">Tune Up</option>
        <option value="Part Replacement">Part Replacement</option>
        <option value="Crash Repair">Crash Repair</option>
        <option value="Other"> Other</option>
    </select>
    <br>
    <label><strong>Severity</strong></label>
    <select name="severity">
    <option value="Minimal">Minimal</option>
    <option value="Middle"> Middle </option>
    <option value="Major"> Major </option>
    </select>
    <br>
    <label><strong>Date</strong></label>
    <input type="datetime-local" name="maintenance-job-date">
    <br>
    <label><strong>Details</strong></label>
    <input type="text" name="maintenance-jog-detail" placeholder="describe the job">
    <br> 
    <label><strong>Cost</strong></label>
    <input type="number" name="maintenance-log-cost" required pattern="/^\$?[0-9]+(\.[0-9][0-9])?$/">
    <input type="submit" value="Add Job">
</form>

<%- include('../partials/footer') %>