
<!-- Add Dynamic UI form below this line -->
<% if (user._id.equals(user && user._id)) { %>
<div class="card-action">
  <form action="/gear" method="POST">
    <input type="text" name="text" class="white-text">
    <button type="submit" class="btn white-text">Add Gear</button>
  </form>
</div>
<% } %>