<%- include('../partials/header') %>
<h1>Add my Gear</h1>
<body> 
<div class="add-gear-form"> 
  <form action="/gears" method="POST">
  <label>Name
    <input type="text" name="name"> 
  </label><br>
  <label>Model and Make 
    <input type="text" name="modelMake" required> 
  </label><br>
  <label>Brand
    <input type="text" name="brand" required>
  </label><br>
  <label>Use Type
    <select name="useType"> 
      <option value="Casual/Leisure">Casual/Leisure</option>
      <option value="Competitive">Competitive</option>
      <option value="Holding it Hostage">Holding it Hostage</option>
    </select>
  </label><br>
  <label>Condition 
    <select name="condition">
      <option value="Brand New">Brand New</option>
      <option value="Used Once or Twice"> Used Once or Twice</option>
      <option value="Gently Used"> Gently Used</option>
      <option value="Used">Used</option>
      <option value="Definitely Used"> Definitely Used</option>
    </select>
  </label><br> 
  <label>Up for Borrow?
    <input type="checkbox" name="forBorrow" checked>
  </label><br> 
    <input type="submit" value="Save Gear"> 
  </form>
</div>
<button><a href="/gears"> Back</a></button> 

</body>

<%- include('../partials/footer') %>